:root{
    /*colores principales*/
    --color-primary: #008000;
    --color-secundary: #7fff00; 
    --color-hover: #66cdaa;

    /*colores*/
    --color-rojo: #e83845;
    --color-negro: #000;
    --color-blanco: #fff;
    --color-azul: #0000ff;
    --color-amarillo: #ffff00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*barra de navegacion*/

.navbar{
    width: 100%;
    max-width: 1400px;
    background-color: var(--color-secundary);
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.logo-nombre{
    display: flex;
}

.navbar .logo-nombre img{

    width: 100px;
    margin-right: 0;
    margin-left: 50px;
    margin-bottom: auto;
    margin-top: auto;
    }

    .navbar .logo-nombre p{
        font-weight: 600;
        font-size: 12px;
        color: var(--color-primary);
        font-family:Arial, Helvetica, sans-serif;
        margin-top: 40px;
        margin: auto; 
        padding: 0;
    }


    .navbar .nav-menu{
        display: flex;
        list-style: none;
        margin: auto;
        padding: 10px;
    }

    .navbar .nav-menu li{
        margin: 10px;
    }

    .navbar .nav-menu li a{
        color: var(--color-negro);
        text-decoration: none;
        margin: auto;
        padding: 5px;
    }

    .navbar .nav-menu li a:hover{
        background-color: var(--color-hover);
        border-radius: 5px;
    }




.ico-burger{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}


/*barra de navegacion responsive*/
/*mobile*/

@media (max-width: 425px){
    .navbar{
        height: 50px;
    }

  .logo-nombre{
      width: 120px;
  }

.nombre{
    display: none;
}

.ico-burger{
    display: block;
    margin: auto;
}

.ico-burger i img{
    width: 30px;
    height: 30px;
    margin-right: auto;

}


  

  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--color-primary);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .navbar  .nav-menu  li  a{
      color: var(--color-blanco);
  }


  .navbar .nav-menu li a:hover{
    color: var(--color-hover);
  }

  .nav-menu_visible {
    left: 0;
  }
  
  .ico-burger:focus:not(:focus-visible) {
    outline: none;
  }
}

/*tablet*/

@media (max-width: 768px){
    .navbar{
        height: 70px;
    }
  .logo-nombre{
      width: 120px;
  }

.nombre{
    display: none;
}

.ico-burger{
    display: block;
    margin-right: 10px;
}

.ico-burger i img{
    width: 30px;
    height: 30px;
    margin-right: auto;

}


  .nav-menu{
      display: none;
  }

  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--color-primary);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .navbar .nav-menu li a{
      color: var(--color-negro);
  }


  .navbar .nav-menu li a:hover{
    background: none;
    color: var(--color-hover);
  }

  .nav-menu_visible {
    left: 0;
  }
  
  .ico-burger:focus:not(:focus-visible) {
    outline: none;
  }


}

/*laptop*/

@media (max-width: 1024px){
    .navbar{
        width: 100%;

    }
    
    .logo-nombre{
        display: flex;
    }
    
    .navbar .logo-nombre img{
    
        width: 100px;
        margin-right: 0;
        margin-left: 50px;
        margin-bottom: auto;
        margin-top: auto;
        }
    
        
        .navbar .nav-menu li{
            margin: 5px;
        }
    
        .navbar .nav-menu li a{
            font-size: 12px;
            color: var(--color-negro);
            text-decoration: none;
            margin: auto;
            padding: 5px;
        }
    
        .navbar .nav-menu li a:hover{

           background: none;
        }


}





